<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= employee.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= employee.address %>
  </p>

  <p>
    <strong>Order information:</strong>
    <%= employee.order_information_id %>
  </p>

</div>
