<div id="<%= dom_id customer_infomation %>">
  <p>
    <strong>Name:</strong>
    <%= customer_infomation.name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= customer_infomation.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= customer_infomation.gender %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer_infomation.email %>
  </p>

  <p>
    <strong>Citizen identification:</strong>
    <%= customer_infomation.citizen_identification %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= customer_infomation.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer_infomation.address %>
  </p>

</div>
