<%= form_with(model: customer_infomation) do |form| %>
<% if customer_infomation.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(customer_infomation.errors.count, "error") %> prohibited this customer_infomation from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% customer_infomation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date_of_birth, class: label_class %>
          <%= form.datetime_field :date_of_birth, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :gender, class: label_class %>
          <%= form.text_field :gender, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :email, class: label_class %>
          <%= form.text_field :email, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :citizen_identification, class: label_class %>
          <%= form.number_field :citizen_identification, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :phone_number, class: label_class %>
          <%= form.number_field :phone_number, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :address, class: label_class %>
          <%= form.text_field :address, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if customer_infomation.persisted? %>
<%= link_to "Cancel", customer_infomation, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", customer_infomations_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
