<div id="<%= dom_id product_infomation %>">
  <p>
    <strong>Name:</strong>
    <%= product_infomation.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product_infomation.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= product_infomation.size %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product_infomation.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product_infomation.price %>
  </p>

  <p>
    <strong>Order date:</strong>
    <%= product_infomation.order_date %>
  </p>

</div>
