<div id="<%= dom_id stock %>">
  <p>
    <strong>Product name:</strong>
    <%= stock.product_name %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= stock.available %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= stock.location %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock.quantity %>
  </p>

  <p>
    <strong>Productinfomation:</strong>
    <%= stock.productinfomation_id %>
  </p>

</div>
