<div id="<%= dom_id stock %>">
  <p>
    <strong>Product infomation:</strong>
    <%= stock.product_infomation_id %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= stock.available %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= stock.location %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock.quantity %>
  </p>

</div>
