<%= form_with(model: payment_information) do |form| %>
<% if payment_information.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(payment_information.errors.count, "error") %> prohibited this payment_information from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% payment_information.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :invoice_number, class: label_class %>
          <%= form.number_field :invoice_number, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :type, class: label_class %>
          <%= form.text_field :type, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :payment_date, class: label_class %>
          <%= form.datetime_field :payment_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :email, class: label_class %>
          <%= form.text_field :email, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :infomation_id, class: label_class %>
          <%= form.select :infomation_id, options_from_collection_for_select(Infomation.all, 'id', 'customer_name', selected = payment_information.infomation_id), class: label_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if payment_information.persisted? %>
<%= link_to "Cancel", payment_information, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", payment_informations_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
