<div id="<%= dom_id payment_information %>">
  <p>
    <strong>Invoice number:</strong>
    <%= payment_information.invoice_number %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= payment_information.type %>
  </p>

  <p>
    <strong>Payment date:</strong>
    <%= payment_information.payment_date %>
  </p>

  <p>
    <strong>Infomation:</strong>
    <%= payment_information.infomation_id %>
  </p>

</div>
