<div id="<%= dom_id delivery %>">
  <p>
    <strong>Cost:</strong>
    <%= delivery.cost %>
  </p>

  <p>
    <strong>Shipping method:</strong>
    <%= delivery.shipping_method %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= delivery.date %>
  </p>

  <p>
    <strong>Infomation:</strong>
    <%= delivery.infomation_id %>
  </p>

</div>
