<%= form_with(model: cart) do |form| %>
<% if cart.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% cart.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :date_of_creation, class: label_class %>
          <%= form.datetime_field :date_of_creation, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :last_updated, class: label_class %>
          <%= form.datetime_field :last_updated, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :cart_item_id, class: label_class %>
          <%= form.text_field :cart_item_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :total_price, class: label_class %>
          <%= form.text_field :total_price, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if cart.persisted? %>
<%= link_to "Cancel", cart, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", carts_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
