<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Cart_item</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to cart_items_path, class: button_class(theme: "transparent") do %>
      All Cart_items
      <% end %>
      <%= link_to edit_cart_item_path(@cart_item), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Product name:</p>
        <p><%= @cart_item.product_name %></p>
      </li>
      <li>
        <p class="font-semibold">Quantity:</p>
        <p><%= @cart_item.quantity %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @cart_item.price %></p>
      </li>
  </ul>
</div>
