<div id="<%= dom_id payment %>">
  <p>
    <strong>Invoice number:</strong>
    <%= payment.invoice_number %>
  </p>

  <p>
    <strong>Date time of payment:</strong>
    <%= payment.date_time_of_payment %>
  </p>

  <p>
    <strong>Payment type:</strong>
    <%= payment.payment_type %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= payment.customer_id %>
  </p>

</div>
