<div id="<%= dom_id infomation %>">
  <p>
    <strong>Customer name:</strong>
    <%= infomation.customer_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= infomation.date_of_birth %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= infomation.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= infomation.phone_number %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= infomation.address %>
  </p>

</div>
