<%= form_with(model: order_information) do |form| %>
<% if order_information.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(order_information.errors.count, "error") %> prohibited this order_information from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% order_information.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :order_status_code, class: label_class %>
          <%= form.number_field :order_status_code, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :date_order_placed, class: label_class %>
          <%= form.datetime_field :date_order_placed, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :information_id, class: label_class %>
          <%= form.text_field :information_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if order_information.persisted? %>
<%= link_to "Cancel", order_information, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", order_informations_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
